.mypage-side-content {
  float: left;
  width: 280px;
  margin-right: 40px;

  & .mypage-nav {

    &__list {

      & li {
        border-top: 1px solid #eee;

        &:first-child {
          border: 0;
        }
      }

      &__item {
        position: relative;
        display: block;
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;

        &:hover {
          background: #eee;
          font-weight: 600;

          & .mypage-style-right {
             color: #333;
          }
        }

        & .mypage-style-right {
          position: absolute;
          top: 50%;
          right: 16px;
          color: #ccc;
        }
      }
    }

    &__head {
      margin: 40px 0 0;
      font-size: 16px;
      font-weight: bold;
    }
  }
}